<!-- Add icon library -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bootstrap-wrapper">
    <div class="container mt20 text-center">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">About Us</h1>
           <h2> <p class="lead">Exam Portal</p></h2>
            <hr class="my-4">
            <p style="font-family: 'Kaisei HarunoUmi', serif;">Exam Portal App was established in the year 2021 by a team of technocrats and functionaries with a vision to build a company with products and solutions which provide extraordinary value to enterprises. Magnquest endeavours to fulfill our role in society with social responsibility and exemplary corporate governance by building immense stakeholder value.

                The coming together of visionaries led Magnaquest to expand rapidly and grow from one office to four offices around the globe. We now have offices in the United States of America, Malaysia, the United Arab Emirates (UAE) apart from India. We are currently in the process of setting up our fifth office in Zambia.
                
                The flagship product, Sure, is today among the world’s leading subscription lifecycle management software solution, used by customers across the globe. These include giants like IMCL, STAR, Discovery, Disney, Mediascape, and Hathway.</p>
        </div>
        <div class="row ">
            <div class="col-md-12 mr30 text-center"><h1><strong>Our Team</strong></h1></div>
        </div>
        <section class="mt20">
          
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/sulimg.jpg" alt="John" style="width:100%; border-radius: 80%;">
                        <h1>Syed Suleman</h1>
                        <p class="title">Full Stack Developer</p>
                        <p>Revature Associate</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contact</button></p>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/sushimg.jpg" alt="John" style="width:100%;border-radius: 80%">
                        <h1>Sushmita Vempati</h1>
                        <p class="title">Full Stack Developer</p>
                        <p>Revature Associate</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contact</button></p>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/mohanimg.jpeg" alt="John" style="width:100%;border-radius: 50%">
                        <h1>Mohan Kumar</h1>
                        <p class="title">Full Stack Developer</p>
                        <p>Revature Associate</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contact</button></p>
                      </div>
                </div>
            </div>
        </section>
    </div>
    
</div>

